.yesilbutton {
    border:solid 1px #00c292;;
    background-color: white;
    color: #00c292;;
    border-radius: 5px;
    font-size: 15px;
}

.yesilbutton:hover {
    background-color: #00c292;
    color:white;
}
.col-sm-2 label{
    margin-left: 20px;
    color:#686868;
    font-weight: bold;
    font-size: 13px;
}
td{
    font-size: 14px;
    font-weight:bolder;
    text-align: left;
}

